body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #aeeedb 0%, #a5f0a2 100%);
}

button {
  cursor: pointer;
}
